
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

pre {

    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
    border: 0; 
    background-color: transparent;
    font-size: 20px;
	font-family: inherit;
}


.col-mark {
	border: 2px solid green;
}

.row-mark {
	border: 2px solid red;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.well {
	border: 1px solid grey;
	background:rgba(255,255,255,0.7);
	border-radius: 24px;
	text-align: center;
}

#map {
	height:250px;
}


#map.well {
	border-radius: 5px;

}

.up {

	background-color:#fff;
    border:2px solid red; 	
}

.down {
	background-color:#fff;
    border:2px solid green; 	
}

.no-change {
	background-color:#fff;
	/*border:2px solid rgba(255,255,0,0.7); 	*/
    border:2px solid rgba(0,0,0,0.7); 	
}



.circle-sm {
	width:75px;
	height: 75px;
	line-height: 75px;
	border-radius: 50%;
	color:white;
	text-align:center;  
	margin: auto;
}

.circle-sm p {
	font-size: 40px;
	font-family:"Calibri";
	font-weight: bold;
	color:black;
}

.circle-md {
	width:100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	color:white;
	text-align:center;  
	margin: auto;
}

.circle-md p {
	font-size: 45px;
	font-family:"Calibri";
	font-weight: bold;
	color:black;
}

.circle-lg {
	width:120px;
	height: 120px;
	line-height:120px;
	border-radius: 50%;
	color:white;
	text-align:center; 
	margin: auto; 
}

.circle-lg p {
	font-size: 55px;
	font-family:"Calibri";
	font-weight: bold;
	color:black;
}


.triangle {
	width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 100px solid black;  
	margin: auto;
}


.triangle p {
	/*border: solid 2px;*/
	text-align: center;
	position: relative;
	top: -15px;
	left: -50px;
	width: 100px;
	height: 100px;
	line-height: 150px;
	font-size: 45px;
	font-family:"Calibri";
	font-weight: bold;
	color:white;
}

.invert {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);       
}


.invert p {
	text-align: center;
	padding-top: 5px;
	top: 50px;
	left: -50px;
	width: 100px;
	height: 100px;
	line-height: 150px;
	font-size:45px;
	font-family:"Calibri";
	font-weight: bold;
	color:white;   	
}


.parent-col {
	padding: 5px;
}

.panel-col {
	padding: 0px;
}


.glyphicon {
	font-size:30px;
}

.glyphicon-circle-arrow-down {
	color:green; 
}

.glyphicon-circle-arrow-up {
	color:red; 
}

.glyphicon-circle-arrow-down {
	color:green; 
}

.glyphicon-minus-sign {
	/*color:yellow; */
	color:rgba(0,0,0,0.7);
}

#tt_S1_count{
	/*background-color:rgba(0,0,0,0.7);*/
	/*margin-top: 5%;*/
	margin-bottom: 10px;
}

#tt_S2_count{
	/*background-color:rgba(255,0,0,1);*/
	/*margin-top: 5%;*/
	margin-bottom: 10px;
}

#tt_S3_count {

    /*border-bottom-color: orange; */
	/*margin-top: 5%;*/
	margin-bottom: 10px;	

}

#UPE_Net_Status{

	/*background-color:rgba(255,0,0,1);*/
}

#DSL_Down {


	/*background-color:rgba(0,0,0,0.7);*/
}

#DSL_SW_OFF {

	/*background-color:green;*/
}

#DSL_Unknown {
	/*border-bottom-color: orange;  */
	/*background-color:red;*/

}

#FTTx_Down {
	/*background-color: rgba(0,0,0,0.7);*/
}

#FTTx_SW_OFF {
	/*background-color: rgba(255,0,0,1);*/
}

#FTTx_Disconnect {
	/*border-bottom-color: orange;*/
}

#FTTx_Never_Connected {

 /*	border-bottom-color: yellow; */

}

#utilization_chart {
	left: auto;
}

#header {
		height: 33px;
		background: grey; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(white, #501F6E); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(white, #501F6E); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(white, #501F6E); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#E1088D, #501F6E); /* Standard syntax (must be last) - Original: #5B3372; */
}

