<script type="text/ng-template" id="modalDialog.html">
	<div class="modal-header">
		<h3 class="modal-title">New alarms notification</h3>
	</div>
	<div class="modal-body">
		<pre>{{newAlarmsMsg}}</pre>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	</div>
</script>

<script type="text/ng-template" id="alarmWidget.html">
 <div class="row is-flex">
     <div class="col-md-9 col-sm-9 panel-col">	
        <div class="{{shapeSize}} {{trend}}">
           <p>{{alarmStatus}}</p>
       </div>
   </div>
   <div class="col-md-3 col-sm-3 panel-col">
    <div style="position: relative; top:30%;">
       <div class="glyphicon {{trendIcon}}"></div>
       <div><b>{{alarmCount | numberSign}}</b></div>
    </div>
   </div>
</div> 
</script>

<div class="container-fluid" id="mainView" style="margin-top:20px">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="well" id="map"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="well">		
						<h5><b>UPE Network Status</b></h5>
                        <alarm-widget alarm-status="{{UPEStats.Down}}" alarm-count="{{alarmsCount.UPEStats_Down}}" shape-size="circle-lg"></alarm-widget>
						<h5><b>Down</b></h5>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="well">		
						<h5><b>Highest Utilization (Top 5)</b></h5>
						<div id="utilization_chart">
						</div>		
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="well">
						<h5><b>Trouble Tickets Stats</b></h5>					
						<div id="tickets_chart">
						</div>		
					</div>
				</div>            
			</div>
		</div>
		<div class="col-md-3 hidden-sm">
			<div class="well">
				<h5><b>Trouble Ticket Statstics</b></h5>
				<h6><b>Service Unavailable (S1)</b></h6>
                <alarm-widget alarm-status="{{TTData.Critical}}" alarm-count="{{alarmsCount.TTStats_Critical}}" shape-size="circle-md"></alarm-widget>
				<h6><b>Service Degraded (S2)</b></h6>   
                <alarm-widget alarm-status="{{TTData.High}}" alarm-count="{{alarmsCount.TTStats_High}}" shape-size="circle-md"></alarm-widget>
				<h6><b>Non-service affecting (S3)</b></h6>     
                <alarm-widget alarm-status="{{TTData.Medium}}" alarm-count="{{alarmsCount.TTStats_Medium}}" shape-size="circle-md"></alarm-widget> 
			</div>
		</div> 
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="well" style="padding-top: 5px;">
				<h5 style="margin-bottom:0px;"><b>DSL Circuits Status</b></h5>	
				<div class="row">			
					<div class="col-md-4 col-sm-4 parent-col">
						<h6><b>Down</b></h6>
                        <alarm-widget alarm-status="{{DSLStats.Down}}" alarm-count="{{alarmsCount.DSLStats_Down}}" shape-size="circle-sm"></alarm-widget>  
					</div>
					<div class="col-md-4 col-sm-4 parent-col">
						<h6><b>Switched off</b></h6>					
	                    <alarm-widget alarm-status="{{DSLStats.SwitchedOff}}" alarm-count="{{alarmsCount.DSLStats_SwitchedOff}}" shape-size="circle-sm"></alarm-widget>  
					</div>
					<div class="col-md-4 col-sm-4 parent-col">
						<h6><b>Unknown</b></h6>
                        <alarm-widget alarm-status="{{DSLStats.Unknown}}" alarm-count="{{alarmsCount.DSLStats_Unknown}}" shape-size="circle-sm"></alarm-widget>  
					</div>	
				</div>		
			</div>
		</div>
		<div class="col-md-7">
			<div class="well" style="padding-top: 5px;">
				<h5><b>FTTX Circuits Status</b></h5>	
				<div class="row">			
					<div class="col-md-3 col-sm-3">
						<h6><b>Down</b></h6>	
                        <alarm-widget alarm-status="{{FTTXStats.Down}}" alarm-count="{{alarmsCount.FTTXStats_Down}}" shape-size="circle-sm"></alarm-widget>  
					</div>
					<div class="col-md-3 col-sm-3">
						<h6><b>Switched off</b></h6>
                        <alarm-widget alarm-status="{{FTTXStats.SwitchedOff}}" alarm-count="{{alarmsCount.FTTXStats_SwitchedOff}}" shape-size="circle-sm"></alarm-widget>  
					</div>
					<div class="col-md-3 col-sm-3">
						<h6><b>Disconnected</b></h6>
                        <alarm-widget alarm-status="{{FTTXStats.Disconnected}}" alarm-count="{{alarmsCount.FTTXStats_Disconnected}}" shape-size="circle-sm"></alarm-widget>  	
					</div>	
					<div class="col-md-3 col-sm-3">
						<h6><b>Never connected</b></h6>
                        <alarm-widget alarm-status="{{FTTXStats.NeverConnectedOnt}}" alarm-count="{{alarmsCount.FTTXStats_NeverConnectedOnt}}" shape-size="circle-sm"></alarm-widget>     
					</div>					
				</div>		
			</div>
		</div>
	</div>
</div>