<!--<h2 class="text-muted"> &nbsp; STC WBU Operational Dashboard</h2>-->
   <table id="header" border=0 width='100%' height='70px' bgcolor="#5B3372">
	   	<tr>
	   		<td>
				<table width='100%'>
					<tr>
						<td>
							<table bgcolor="#5B3372">
								<tr>
									<td width="10%">&nbsp;&nbsp;&nbsp;<img src="./media/stc-logo-white-transparent.png" alt="STC Logo" height="33">&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td width="70%" valign="center" align="left"><font face="Calibri" color="White" size="3"><b>STC SQM/SLM</b> - Mobile Dashboard | VIP IPVPN Customers&nbsp;&nbsp;</font></td>
									<td width="20%" valign="center" align="right"><font face="Calibri" color="White" size="2"><b>Last Refreshed:</b> 04/04/2017 13:45&nbsp;&nbsp;</font></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

