
.circle-md {
	width:95px;
	height: 95px;
	line-height: 95px;
	border-radius: 50%;
	color:white;
	text-align:center;  
	margin: auto;
}

.circle-md p {
	font-size: 45px;
	font-family:"Calibri";
	font-weight: bold;
	color:white;
}

.circle-lg {
	width:115px;
	height: 115px;
	line-height:115px;
	border-radius: 50%;
	color:white;
	text-align:center; 
	margin: auto; 
}

.circle-lg p {
	font-size: 55px;
	font-family:"Calibri";
	font-weight: bold;
	color:white;
}



.black-circle {
	background-color:rgba(0,0,0,0.7);

}

.red-circle {
		background-color:rgba(255,0,0,1);

}

.orange-circle {
		background-color:orange;

}

.yellow-circle {
		background-color:yellow;

}

.triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 95px solid black;  
	margin: auto;
}


.triangle p {
	/*border: solid 2px;*/
	text-align: center;
	position: relative;
	top: -15px;
	left: -50px;
	width: 100px;
	height: 100px;
	line-height: 150px;
	font-size: 45px;
	font-family:"Calibri";
	font-weight: bold;
	color:white;
}


.black-triangle {
	border-bottom-color: rgba(0,0,0,0.7);
}


.red-triangle {
	border-bottom-color: red;  
}

.orange-triangle {
	border-bottom-color: orange;  
}

.yellow-triangle {
	border-bottom-color: yellow;  
}

.invert {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);       
}


.invert p {
	text-align: center;
	padding-top: 5px;
	top: 45px;
	left: -50px;
	width: 100px;
	height: 100px;
	line-height: 150px;
	font-size:45px;
	font-family:"Calibri";
	font-weight: bold;
	color:white;   	
}

h4 {
	font-size : 12px;
}

b.red {
    color:red;
}

b.green {
    color:green;
}


#tt_S1_count{
	/*background-color:rgba(0,0,0,0.7);*/
	/*margin-top: 5%;*/
}

#tt_S2_count{
/*	background-color:rgba(255,0,0,1);
	margin-top: 5%;
*/}

#tt_S3_count {
/*	border-bottom-color: orange;
	margin-top: 5%;
*/
}

#UPE_Net_Status{
	/*background-color:rgba(255,0,0,1);*/
}

#DSL_Down {
	/*background-color:rgba(0,0,0,0.7);*/
}

#DSL_SW_OFF {
	/*background-color:rgba(255,0,0,1);*/
}

#DSL_Unknown {
	/*border-bottom-color: orange;  */
}

#FTTx_Down {
	/*background-color: rgba(0,0,0,0.7);*/
}

#FTTx_SW_OFF {
	/*background-color: rgba(255,0,0,1);*/
}

#FTTx_Disconnect {
	/*border-bottom-color: orange;*/
}

#FTTx_Never_Connected {
	/*border-bottom-color: yellow;*/
	
}

#utilization_chart {
	left: auto;
}

