
<div class="container-fluid" style="margin-top:20px">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="well" id="map"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="well">			
						<h5><b>UPE Network Status</b></h5>
						<div id="UPE_Net_Status" class="circle-lg">
							<p>12</p>
						</div>	
						<p><b>Down</b></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">		
						<h5><b>Utilization</b></h5>
						<div id="utilization_chart">
						</div>		
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">
						<h5><b>Trouble Tickets Stats</b></h5>					
						<div id="tickets_chart">
						</div>		

					</div>
				</div>            
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				<h5><b>Trouble Ticket Statstics</b></h5>
				<h6><b>Service Unavailable (S1)</b></h6>
				<div id="tt_S1_count" class="circle-md"><p>3</p></div>
				<h6><b>Service Degraded (S2)</b></h6>        
				<div id="tt_S2_count" class="circle-md"><p>3</p></div>
				<h6><b>Non-service affecting (S3)</b></h6>         
				<div id="tt_S3_count" class="triangle"><p>3</p></div>
			</div>
		</div> 
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="well" style="padding-top: 5px;">
				<h5 style="margin-bottom:0px;"><b>DSL Circuits Status</b></h5>	
				<div class="row">			
					<div class="col-md-4">
						<h6><b>Down</b></h6>					
						<div id="DSL_Down" class="circle-md">
							<p>12</p>
						</div>		
					</div>
					<div class="col-md-4">
						<h6><b>Switched off</b></h6>					
						<div id="DSL_SW_OFF" class="circle-md">
							<p>12</p>
						</div>		
					</div>
					<div class="col-md-4">
						<h6><b>Unknown</b></h6>
						<div id="DSL_Unknown" class="triangle">
							<p>1</p>
						</div>				
					</div>	
				</div>		
			</div>
		</div>
		<div class="col-md-7">
			<div class="well" style="padding-top: 5px;">
				<h5 style="margin-bottom:0px;"><b>FTTx Circuits Status</b></h5>	
				<div class="row">			
					<div class="col-md-3">
						<h6><b>Down</b></h6>					
						<div id="FTTx_Down" class="circle-md">
							<p>12</p>
						</div>		
					</div>
					<div class="col-md-3">
						<h6><b>Switched off</b></h6>					
						<div id="FTTx_SW_OFF" class="circle-md">
							<p>12</p>
						</div>		
					</div>
					<div class="col-md-3">
						<h6><b>Disconnect</b></h6>
						<div id="FTTx_Disconnect" class="triangle">
							<p>1</p>
						</div>				
					</div>	
					<div class="col-md-3">
						<h6><b>Never connected</b></h6>
						<div id="FTTx_Never_Connected" class="triangle invert">
							<p class="invert">12</p>
						</div>				
					</div>					
				</div>		
			</div>
		</div>
	</div>
</div>