<div class="container-fluid" id="mainView" style="margin-top:20px">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="well" id="map"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="well">			
						<app-alarm-widget title="UPE Network Status" id="UPE_Net_Status" 
						[alarm-count]="serviceAlarms.UPEStats.Down"></app-alarm-widget>
						<h5><b>Down</b></h5>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="well">		
						<h5><b>Highest Utilization (Top 5)</b></h5>
						<div id="utilization_chart">
						</div>		
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="well">
						<h5><b>Trouble Tickets Stats</b></h5>					
						<div id="tickets_chart">
						</div>		

					</div>
				</div>            
			</div>
		</div>
		<div class="col-md-3 hidden-sm">
			<div class="well">
				<h5><b>Trouble Ticket Statstics</b></h5>
				<app-alarm-widget title="Service Unavailable - S1" id="tt_S1_count"></app-alarm-widget>
				<div style="padding-top: 20px;"></div>
				<app-alarm-widget title="Service Degraded - S2" id="tt_S2_count"></app-alarm-widget>				
				<div style="padding-top: 20px;"></div>
				<app-alarm-widget title="Non-service affecting - S3" id="tt_S3_count"></app-alarm-widget>				
			</div>
		</div> 
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="well" style="padding-top: 5px;">
				<h5 style="margin-bottom: 0px;"><b>DSL Circuits Status</b></h5>	
				<div class="row">			
					<div class="col-md-4 col-sm-4">
						<app-alarm-widget title="Down" id="DSL_Down"></app-alarm-widget>				
					</div>
					<div class="col-md-4 col-sm-4">
						<app-alarm-widget title="SW Off" id="DSL_SW_OFF"></app-alarm-widget>				
					</div>
					<div class="col-md-4 col-sm-4">
						<app-alarm-widget title="Unknown" id="DSL_Unknown"></app-alarm-widget>									
					</div>	
				</div>		
			</div>
		</div>
		<div class="col-md-7">
			<div class="well" style="padding-top: 5px;">
				<h5 style="margin-bottom: 0px;"><b>FTTX Circuits Status</b></h5>	
				<div class="row">			
					<div class="col-md-3 col-sm-3">
					<app-alarm-widget title="Down" id="FTTX_Down"></app-alarm-widget>	
					</div>
					<div class="col-md-3 col-sm-3">
					<app-alarm-widget title="SW Off" id="FTTX_SW_OFF"></app-alarm-widget>	
					</div>
					<div class="col-md-3 col-sm-3">
					<app-alarm-widget title="Disconntd." id="FTTX_Disconnect" ></app-alarm-widget>	
					</div>	
					<div class="col-md-3 col-sm-3">
					<app-alarm-widget title="Never conntd." id="FTTX_Never_Connected"></app-alarm-widget>	
					</div>					
				</div>		
			</div>
		</div>
	</div>
</div>